{% extends 'base.html' %}
{% from 'macros/custom_assets.html' import inject_custom_assets %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
  {{ inject_custom_assets(page) }}
  <article class="panel content-html h-entry">
    <h1 class="p-name">{{ page.title }}</h1>
    <p class="muted">
      by
      <a class="p-author h-card" href="/u/{{ page.username }}"
        >{{ page.display_name }}</a
      >
    </p>
    <a
      class="u-url"
      href="/u/{{ page.username }}/page/{{ page.slug }}"
      hidden
    ></a>
    <hr />
    <div class="e-content">{{ rendered_content|safe }}</div>
  </article>
{% endblock %}
