{% extends 'base.html' %}
{% from 'macros/custom_assets.html' import inject_custom_assets %}
{% block title %}
  {{ profile.display_name }}
{% endblock %}
{% block content %}
  <section class="panel h-card">
    <h1 class="p-name">{{ profile.display_name }}</h1>
    <a class="u-url" href="/u/{{ profile.username }}" rel="me" hidden></a>
    <div class="e-note">{{ rendered_content|safe }}</div>
    <p>
      <a href="/lineage#user-{{ profile.username }}">view lineage</a>
    </p>
  </section>
  {{ inject_custom_assets(profile) }}
  <section class="h-feed">
    <h2>pages</h2>
    <ul>
      {% for p in pages %}
        <li class="h-entry">
          <a
            class="u-url p-name"
            href="/u/{{ profile.username }}/page/{{ p.slug }}"
            >{{ p.title }}</a
          >
        </li>
      {% else %}
        <li>no pages yet.</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
